In [133]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [134]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
res = requests.get(url)

Using BeautifulSoup and requests to scrape the table into a pandas dataframe

In [135]:
soup = BeautifulSoup(res.content, 'html.parser')

In [136]:
table = soup.find_all('table')[0]
start = pd.read_html(str(table))

In [137]:
df = pd.DataFrame(start[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

There is only one neighbourhood that is not assigned but has an assigned borough.
Instead of just changing it, this code is designed to change all values if more values are ever added.

In [138]:
msk = (df['Neighbourhood']=='Not assigned') & (df['Borough']!='Not assigned')
df.loc[msk, 'Neighbourhood'] = df.loc[msk, 'Borough']

Now we remove all values that are not assigned

In [139]:
df = df[df['Neighbourhood']!='Not assigned']
df.shape

(210, 3)

Group all postcodes w

In [140]:
df = df.groupby('Postcode')['Neighbourhood'].apply(', '.join).reset_index()

In [141]:
df.head()

  Postcode                           Neighbourhood
0      M1B                          Rouge, Malvern
1      M1C  Highland Creek, Rouge Hill, Port Union
2      M1E       Guildwood, Morningside, West Hill
3      M1G                                  Woburn
4      M1H                               Cedarbrae

In [142]:
df.shape

(103, 2)